<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/">
          <i class="bi bi-grid"></i>
          <span>Giriş Sayfası</span>
        </a>
      </li>

      <li class="nav-item" *ngIf="sidebarRoles.hasStudentPageAuthority">
        <a class="nav-link collapsed" routerLink="/student">
          <i class="bi bi-person-lines-fill"></i>
          <span>Öğrenciler</span>
        </a>
      </li>
      <!-- End Student Nav -->

      <li class="nav-item" *ngIf="sidebarRoles.hasCoursePageAuthority">
        <a class="nav-link collapsed" routerLink="/courses">
          <i class="bi bi-person-lines-fill"></i>
          <span>Dersler</span>
        </a>
      </li>


      <li class="nav-item" *ngIf="sidebarRoles.hasStudentCoursePageAuthority">
        <a
          class="nav-link collapsed"
          data-bs-target="#course-student-nav"
          data-bs-toggle="collapse"
          href="#"
        >
          <i class="bi bi-journal-text"></i><span>Dersler - Student</span
          ><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul
          id="course-student-nav"
          class="nav-content collapse"
          data-bs-parent="#sidebar-nav"
        >
          <li>
            <a routerLink="/course-for-student">
              <i class="bi bi-circle"></i><span>Ders Al</span>
            </a>
          </li>
          <li>
            <a routerLink="/student-courses">
              <i class="bi bi-circle"></i><span>Derslerim</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- End Course-Student Nav -->

      <li class="nav-item" *ngIf="sidebarRoles.hasStaffCoursePageAuthority">
        <a
          class="nav-link collapsed"
          data-bs-target="#course-staff-nav"
          data-bs-toggle="collapse"
          href="#"
        >
          <i class="bi bi-journal-text"></i><span>Dersler - Staff</span
          ><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul
          id="course-staff-nav"
          class="nav-content collapse"
          data-bs-parent="#sidebar-nav"
        >
          <li>
            <a routerLink="/course-for-staff">
              <i class="bi bi-circle"></i><span>Ders Al</span>
            </a>
          </li>
          <li>
            <a routerLink="/staff-courses">
              <i class="bi bi-circle"></i><span>Aldığım Dersler</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- End Course-Staff Nav -->

      <li class="nav-heading">Diğer</li>
      <!-- End Profile Page Nav -->

      <li class="nav-item" *ngIf="sidebarRoles.hasSettingPageAuthority">
        <a
          class="nav-link collapsed"
          data-bs-target="#settings"
          data-bs-toggle="collapse"
          href="#"
        >
          <i class="bi bi-gear-wide-connected"></i><span>Ayarlar</span
          ><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul
          id="settings"
          class="nav-content collapse"
          data-bs-parent="#sidebar-nav"
        >
          <li *ngIf="settingRoles.hasUserReadPermission">
            <a routerLink="/user-settings">
              <i class="bi bi-circle"></i><span>Kullanıcılar</span>
            </a>
          </li>
          <li *ngIf="settingRoles.hasRoleReadPermision">
            <a routerLink="/main-role-settings">
              <i class="bi bi-circle"></i><span>Roller</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- End Course-Student Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/login" (click)="cikisYap()">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Çıkış Yap</span>
        </a>
      </li>
      <!-- End Login Page Nav -->
    </ul>
  </aside>