<main>
  <div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex justify-content-center py-4">
              <a routerLink="/" class="logo d-flex align-items-center w-auto">
                <img src="assets/img/logo.png" alt="" />
                <span class="d-none d-lg-block">Öğrenci Bilgi Sistemi</span>
              </a>
            </div>
            <!-- End Logo -->

            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">
                    Hesabınıza Giriş Yapın
                  </h5>
                  <p class="text-center small">
                    Giriş yapmak için kullanıcı adı ve şifrenizi girin
                  </p>
                </div>

                <form class="row g-3 needs-validation" novalidate #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                  <div class="col-12">
                    <label for="userNameOrEmail" class="form-label">Kullanıcı Adı</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid fa-user"></i></span>
                      <input type="text" #userNameOrEmail name="userNameOrEmail" class="form-control"
                        id="userNameOrEmail" placeholder="Mail adresi ya da kullanıcı adı" minlength="3" ngModel
                        required [validInput]="userNameOrEmail.validity.valid" />
                      <div class="invalid-feedback">
                        Lütfen kullanıcı adınızı giriniz!
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="password" class="form-label">Şifre</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text" id="inputGroupPrepend"><i class="fa-solid fa-key"></i>
                      </span>
                      <input type="password" name="password" class="form-control" id="password" placeholder="******"
                        #password ngModel minlength="6" required [validInput]="password.validity.valid" />
                      <div class="invalid-feedback">
                        Minimum 6 karakterden olusan bir sifre giriniz.
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe" />
                      <label class="form-check-label" for="rememberMe">Beni Hatırla</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit" [disabled]="!loginForm.valid">
                      Giriş Yap
                    </button>
                  </div>
                  <div class="col-12">
                    <p class="small mb-0">
                      Bir hesabınız yok mu?
                      <a routerLink="/register">Yeni bir hesap oluştur</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>

            <div class="credits">
              <!-- All the links in the footer should remain intact. -->
              <!-- You can delete the links only if you purchased the pro version. -->
              <!-- Licensing information: https://bootstrapmade.com/license/ -->
              <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
              Designed by
              <a href="https://www.instagram.com/m.taha.kirkgoz/?next=%2F">TheLg1tHe</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div style="position: absolute; bottom: 0; left: 0;" class="m-1">

    <div class="card">
      <div class="card-title d-flex justify-content-center">

        <button class="btn btn-primary" (click)="addTestDatas()">
          Test verilerini ekle
        </button>
      </div>
      <div class="card-body" style="min-height: fit-content;">
        <div class="card-text mb-5 ">
          <span class="fw-bold d-block text-center"> Öğrenci girişi </span>
          <div class="text-center">
            <span class="fw-bold"> Kullancı Adı: </span> 212020001
          </div>
          <div class="text-center">
            <span class="fw-bold"> Şifre: </span> Password12*
          </div>
        </div>
        <div class="card-text">
          <span class="fw-bold d-block text-center"> Öğrentmen girişi </span>

          <div class="text-center">
            <span class="fw-bold"> Kullancı Adı: </span> 210002
          </div>
          <div class="text-center">
            <span class="fw-bold"> Şifre: </span> Password12*
          </div>

        </div>
        <div class="card-text">
          <span class="fw-bold d-block text-center"> Admin </span>

          <div class="text-center">
            <span class="fw-bold"> Kullancı Adı: </span> 00000
          </div>
          <div class="text-center">
            <span class="fw-bold"> Şifre: </span> Admin12*
          </div>

        </div>
      </div>
    </div>
  </div>
</main>
<!-- End #main -->