<footer id="footer" class="footer">
  <div class="credits">
    <img
            src="/assets/img/AtauniLogo.png"
            alt="Atauni Logo"
            class="img-fluid rounded-circle w-50"
            width="50px"
            height="50px"
            style="max-width: 175px; margin-top: -10px !important;"
          />
    <strong style="font-size: x-large; margin-left: -50px !important;"> Hayatın İzinde Hep İleriye </strong>
  </div>
  <!-- <div class="copyright">
    &copy; Copyright <strong><span>NiceAdmin</span></strong
    >. All Rights Reserved
  </div> -->
</footer>
