<main id="main" class="main">

  <div class="pagetitle">
    <h1>Giriş Sayfası</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Ana Sayfa</a></li>
        <li class="breadcrumb-item active">Atatür Üniversitesi</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <img
            src="/assets/img/atauni.jpg"
            alt="Atauni"
            width="650px"
            height="650px"
          />
    </div>
  </section>

</main><!-- End #main -->
